---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import { Modal, Notification } from 'accessible-astro-components'
import GridComponent from '../components/GridComponent.astro';
---

<DefaultLayout title="Productos">
  <section>
    <h1>Productos</h1><br>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2 class="text-9xl">Resumen del Producto</h2>
      <GridComponent/> {/* Aquí estás usando el componente DataTable */}
      <button id="modal-trigger" class="button color-secondary">Agregar su primer producto</button>
      <Modal
        triggerId="modal-trigger"
        title="Agregar producto"
        closeText="Cancelar"
      >
        <p>Puede usar este componente para incluir un formulario que agregue un nuevo producto a la lista.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>


